<table class="table table-condensed table-bordered" id='refunds' data-order-id='<%= @order.number %>'>
  <thead>
    <tr data-hook="refunds_header">
      <th><%= "#{Spree.t('date')}/#{Spree.t('time')}" %></th>
      <th><%= Spree.t(:amount) %></th>
      <th><%= Spree.t(:transaction_id) %></th>
      <th><%= "Store Name" %>
    </tr>
  </thead>
  <tbody>
    <% refunds.each do |refund| %>
      <tr id="<%= dom_id(refund) %>" data-hook="refunds_row" class="<%= cycle('odd', 'even', name: 'refund_table_cycle')%>">
        <td><%= pretty_time(refund.created_at) %></td>
        <td class="amount"><%= number_to_currency((refund.amount / 100 ).to_f)  %></td>
        <td><%= refund.transaction_id %></td>
        <td><%=  Spree::CustomerReturnItem.where(transaction_id: refund.transaction_id).first.store.name%>
      </tr>
    <% end %>
  </tbody>
</table>
